<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%=title%>
  </title>
  <style>
    .grid-container {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-gap: 2px;
    }
    
    .grid-item {
      border: 1px solid black;
      padding: 5px;
    }
    
    .grid-row-wrapper {
      display: contents;
    }
    
    .grid-row-wrapper>.grid-item {
      background: skyblue;
    }
    
    .center {
      padding: 70px 0;
      text-align: center;
    }
    
    .big {
      font-size: 24px;
    }
  </style>
</head>

<body>
  <form action="/add" method="post" enctype="multipart/form-data" class="center">
    <label>Id</label>
    <input type="text" name="id" placeholder="Sinh id tự động" required readonly>
    <label>Tên công ty</label>
    <input type="text" name="name" placeholder="Tên công ty" required>
    <label>URL ảnh đại diện</label>
    <input type="text" name="url" placeholder="URL ảnh đại diện" required>
    <input type="submit" value="Lưu thông tin">
  </form>
  <div class="grid-container">
    <% for(let i = 0; i < data.Count; i++) {%>
      <div class="grid-item">
        <img src="<%= data.Items[i].url%>">
        <br>
        <a href="/detail?id=<%=data.Items[i].id%>" class="big">
          <%= data.Items[i].name%>
        </a>
        <br>
        <a href="/delete?id=<%=data.Items[i].id%>"><input type="button" value="Xóa"></a>
      </div>
      <% }%>

  </div>

</body>

</html>